/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 24, 2015, 1:04:41 PM
    Author     : Andres
*/

#header{
    
    padding: 10px 0 10px 10px;
}
#menu{
    float: left;
    
}
#content{
    float: left;
    width: 80%;
    padding: 10px 0 0 30px;
}